spring:
  application:
    name: gateway-service

  output:
    ansi:
      enabled: ALWAYS

server:
  port: 19091

eureka:
  client:
    service-url:
      defaultZone: http://localhost:19090/eureka/