spring:
  application:
    name: gateway-service

  output:
    ansi:
      enabled: ALWAYS

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true  # 서비스 디스커버리를 통해 동적으로 라우트를 생성하도록 설정
      routes:
        - id: book-service  # 라우트 식별자
          uri: lb://book-service # 'book-service'라는 이름으로 로드 밸런싱된 서비스로 라우팅
          predicates:
            - Path=/books/** # /books/** 경로로 들어오는 요청을 이 라우트로 처리
        - id: review-service  # 라우트 식별자
          uri: lb://review-service  # 'review-service'라는 이름으로 로드 밸런싱된 서비스로 라우팅
          predicates:
            - Path=/reviews/** #/reviews/** 경로로 들어오는 요청을 이 라우트로 처리

server:
  port: 19091

eureka:
  client:
    service-url:
      defaultZone: http://localhost:19090/eureka/