spring:
  application:
    name: book-service

  output:
    ansi:
      enabled: ALWAYS

  datasource:
    url: jdbc:mysql://endpoint/db
    username: username
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        use_sql_comments: true;
        dialect: org.hibernate.dialect.MySQLDialect

server:
  port: 19092

eureka:
  client:
    service-url:
      defaultZone: http://localhost:19090/eureka/